input {
    font-family: Arial;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(185, 182, 182);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
}

.name {
    margin-bottom: 5px;
    padding-right: 20px;
    width: 87.2px;
}

.email {
    display: block;
    width: 228px;
}

button {
    margin-top: 7px;
    background-color: rgb(47, 124, 248);
    border: none;
    color: white;
    width: 241px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
    display: block;
}