    .ad {
        font-family: Arial;
        width: 300px;
        background-color: rgb(36, 36, 36);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 17px;
        padding-bottom: 17px;
}

    .title {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 2px;
        margin-top: 0;
    }

    .description {
        color: gray;
        font-size: 13px;
        margin-bottom: 0;
    }